<a href="https://colab.research.google.com/github/Hanee-graphy/HDSC-Introduction-to-Python-for-machine-learning/blob/master/Hamoye_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:


url=('https://raw.githubusercontent.com/ooseni/Hamoye-Datasets/main/FoodBalanceSheets_E_Africa_NOFLAG%20(2).csv')
food_data=pd.read_csv(url,encoding='latin-1')

food_data
food_data.head()

   Area Code     Area  Item Code  ...     Y2016     Y2017     Y2018
0          4  Algeria       2501  ...  40551.00  41389.00  42228.00
1          4  Algeria       2501  ...      0.00      0.00      0.00
2          4  Algeria       2901  ...   3372.00   3341.00   3322.00
3          4  Algeria       2901  ...     94.72     92.82     91.83
4          4  Algeria       2901  ...     77.40     80.19     77.28

[5 rows x 12 columns]

In [ ]:
food_data.describe(include='all')

           Area Code   Area  ...          Y2017          Y2018
count   60943.000000  60943  ...   59437.000000   59507.000000
unique           NaN     49  ...            NaN            NaN
top              NaN  Kenya  ...            NaN            NaN
freq             NaN   1560  ...            NaN            NaN
mean      134.265576    NaN  ...     140.917765     143.758381
std        72.605709    NaN  ...    1671.862359    1710.782658
min         4.000000    NaN  ...   -1582.000000   -3396.000000
25%        74.000000    NaN  ...       0.000000       0.000000
50%       136.000000    NaN  ...       0.100000       0.070000
75%       195.000000    NaN  ...       9.000000       9.000000
max       276.000000    NaN  ...  190873.000000  195875.000000

[11 rows x 12 columns]

In [43]:
food_data.groupby('Item')['Item'].sum()

Item
Alcohol, Non-Food      Alcohol, Non-FoodAlcohol, Non-FoodAlcohol, Non...
Alcoholic Beverages    Alcoholic BeveragesAlcoholic BeveragesAlcoholi...
Animal Products        Animal ProductsAnimal ProductsAnimal ProductsA...
Animal fats            Animal fatsAnimal fatsAnimal fatsAnimal fatsAn...
Apples and products    Apples and productsApples and productsApples a...
                                             ...
Vegetables, Other      Vegetables, OtherVegetables, OtherVegetables, ...
Vegetal Products       Vegetal ProductsVegetal ProductsVegetal Produc...
Wheat and products     Wheat and productsWheat and productsWheat and ...
Wine                   WineWineWineWineWineWineWineWineWineWineWineWi...
Yams                   YamsYamsYamsYamsYamsYamsYamsYamsYamsYamsYamsYa...
Name: Item, Length: 119, dtype: object

In [16]:
Fd2=food_data['Y2017'].sum()

8375729.189999999

In [17]:
pd.merge(fd1, fd2).sum()

NameError: ignored

In [19]:
sum

135.23596649549236

In [20]:
food_data['Y2015'].std()

1603.4039839423301

In [46]:
sum=food_data('Y2015'.std().mean()))

SyntaxError: ignored

In [36]:
food_data.isnull.sum()

AttributeError: ignored

In [37]:
food_data.corr()

              Area Code  Item Code  Element Code  ...     Y2016     Y2017     Y2018
Area Code      1.000000  -0.005159     -0.000209  ...  0.005247  0.005006  0.005665
Item Code     -0.005159   1.000000     -0.024683  ...  0.020109  0.021494  0.021314
Element Code  -0.000209  -0.024683      1.000000  ...  0.023444  0.024254  0.024279
Y2014          0.006164   0.021722      0.024457  ...  0.996081  0.995230  0.994872
Y2015          0.005472   0.020857      0.023889  ...  0.995739  0.988048  0.988208
Y2016          0.005247   0.020109      0.023444  ...  1.000000  0.992785  0.992757
Y2017          0.005006   0.021494      0.024254  ...  0.992785  1.000000  0.998103
Y2018          0.005665   0.021314      0.024279  ...  0.992757  0.998103  1.000000

[8 rows x 8 columns]

In [40]:
food_data.groupby('Element')['Element'].count()

Element
Domestic supply quantity                  5295
Export Quantity                           4403
Fat supply quantity (g/capita/day)        5023
Feed                                      1319
Food                                      4941
Food supply (kcal/capita/day)             5014
Food supply quantity (kg/capita/yr)       4905
Import Quantity                           5139
Losses                                    2009
Other uses (non-food)                     1732
Processing                                2010
Production                                3881
Protein supply quantity (g/capita/day)    5023
Residuals                                 4655
Seed                                       762
Stock Variation                           4232
Total Population - Both sexes               45
Tourist consumption                        555
Name: Element, dtype: int64

In [47]:
food_data['Y2016'].sum()

8112472.649999999

In [49]:
food_data['Y2016'].isna()

0        False
1        False
2        False
3        False
4        False
         ...
60938    False
60939    False
60940    False
60941    False
60942    False
Name: Y2016, Length: 60943, dtype: bool